.button {
  background-color: rgb(0, 162, 255);
  pointer-events: all;
  letter-spacing: 1;
  padding: 20px 40px;

  transition: all 0.2s ease-in-out;

  box-shadow: 0 0px 50px rgba(0, 162, 255, 0.2);

  &:hover {
    box-shadow: 0 0px 50px rgba(0, 162, 255, 0.6);
    transform: scale(1.02);
    cursor: pointer;
  }

  &.isDisabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.isFullWidth {
    width: 100%;
  }

  &.large {
    font-size: var(--font-size-large);
    padding: 30px 60px;
  }
}
