@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  color: white;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
  font-size: var(--font-size-normal);
}
